.bg{
    &-blue{
        background-color: $color__blue;
    }
}
.collections{
    &-s1{
        background-position: center!important;
    }
    &-s2{
        background-position: right!important;
    }
}
.contact{
    &-s1{
        background-position: right!important;
    }
    &-s3{
        background-color: #aaa!important;
        background-blend-mode: multiply!important;
    }
}
.index{
    &-s1{
        background-color: #aaa;
        background-blend-mode: multiply;
        background-position: right!important;
    }
}
footer{
    @include set-background($bg__footer-img);
}
h1,h2,h3,h4,h5,h6,.nav-link{
    font-family: "Raleway";
    letter-spacing: 1px;
}
header{
    z-index: 10;
}
textarea{
    resize:none;
}

@media all and (max-width:767px){
    .collections{
        &-s1,&-s2,&-s3{
            background-color: #888!important;
            background-blend-mode: multiply;
        }
        &-s1{
            background-position: left!important;
        }
        &-s2{
            background-position: right!important;
        }
    }
    .contact{
        &-s1,&-s2,&-s3{
            background-color: #888!important;
            background-blend-mode: multiply;
        }
    }
    .navbar{
        &-nav{
            background-color: #333;
            border: 1px solid #666;
            opacity:0.8;
            padding-right: 10px;
        }
    }
    .shopping{
        &-s1{
            background-color: #888!important;
            background-blend-mode: multiply;
        }
    }
}